/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==============================end of reset============================= */

html {
  background-color: rgba(122, 191, 191, 0.5);
}

body {
  margin: 0 auto;
  width: 414px;
  background-color: #f2f2f2;
  color: #0d0d0d;
}

p,
dd,
li,
nav,
input {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1,
h2,
h3,
nav a,
nav span,
menu li,
#social li,
footer {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

dt {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

nav a,
nav span,
menu li,
#social li,
footer,
footer span {
  font-size: 20px;
}

/* ==============header start=====================================
==================================================================== */
header {
  margin-top: 162px;
  position: relative;
}

header h1 {
  text-align: center;
  padding-bottom: 23px;
  padding-top: 30px;
}
header menu {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

header a span {
  order: 2;
}

header a svg,
header a img {
  order: 1;
}

header a,
header a:visited,
header a:hover,
header a:active {
  color: #eb5428;
  text-decoration: none;
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header menu li {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

header p {
  margin: 10px;
  line-height: 1.5;
}

menu li {
  display: flex;
  color: #eb5428;
}

/* =======details start ===============================================
======================================================================*/
#details dl {
  display: grid;
  grid-template-columns: 100px 1fr;
}
#details h2 {
  text-align: center;
}

/* =======ingredients start ===============================================
======================================================================*/
#ingredients {
  height: auto;
  width: 414px;
  margin: 20px auto;
}

#ingredients h2 {
  text-align: center;
}

#ingredients ul {
  list-style-type: disc;
  padding-left: 25px;
  line-height: 2;
}

/* =======directions start ===============================================
======================================================================*/
#directions {
  height: auto;
  width: 414px;
  margin-top: 22px;
}

#directions h2 {
  text-align: center;
}

#directions ol {
  list-style-type: decimal;
  padding-left: 25px;
  line-height: 1.5;
}

#directions li {
  padding: 10px 0;
}

/* ============side dishes start ===============================
==========================================================*/
#side-dishes {
  background-color: #7abfbf;
}

#side-dishes img {
  width: 87%;
  padding-left: 5px;
}

#side-dishes h2 {
  text-align: center;
  padding: 9px 0;
}

.sides-container {
  padding-top: 31px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "side-image side-heading"
    "side-image side-p1"
    "side-image side-p2"
    "side-image star-container";
}

.sides-container h3,
.sides-container p {
  margin: 0 0 0 15px;
}

.sides-container h3 {
  padding-bottom: 14px;
  grid-area: side-heading;
  text-transform: uppercase;
}

.sides-container img {
  grid-area: side-image;
  margin: 0 0 0 5px;
}

.sides-container p:nth-of-type(1) {
  grid-area: side-p1;
  padding-bottom: 7px;
}

.sides-container p:nth-of-type(2) {
  grid-area: side-p2;
  padding-bottom: 3px;
  font-weight: bold;
}

.star-container {
  margin-left: 5px;
}

.icon-tabler-star {
  margin: 0 4px;
}

/* ==========hamburger menu start ============================
==========================================================*/
nav {
  position: absolute;
  top: 0;
  width: 414px;
  z-index: 100;
}

nav > h2,
nav > h3 {
  visibility: hidden;
  height: 0;
}

nav ul {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d0d0d;
}

nav a span {
  order: 2;
}

nav a svg,
nav a img {
  order: 1;
}

nav label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  user-select: none;
  background-color: white;
  height: 84px;
  width: 84px;
}

nav label span {
  background-color: #ffffff;
  display: block;
  position: relative;
  transition: background-color 0.2s ease-out;
}

nav input {
  display: none;
}

nav input:checked ~ ul {
  max-height: 500px;
  background-color: white;
}

nav ul li:nth-child(1) a,
nav ul li:nth-child(1) a:visited,
nav ul li:nth-child(1) a:hover,
nav ul li:nth-child(1) a:active {
  position: absolute;
  left: 84px;
  top: 0;
  width: 247px;
  height: 84px;
  background-color: #eb5428;
  text-align: center;
}

nav ul li:nth-child(1) span {
  visibility: hidden;
}

nav ul li:nth-of-type(n + 2) a,
nav ul li:nth-of-type(n + 2) a:visited,
nav ul li:nth-of-type(n + 2) a:hover,
nav ul li:nth-of-type(n + 2) a:active {
  text-transform: uppercase;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul li:last-of-type a,
nav ul li:last-of-type a:visited,
nav ul li:last-of-type a:hover,
nav ul li:last-of-type a:active {
  text-transform: uppercase;
  position: absolute;
  left: 331px;
  top: 0;
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  height: 84px;
  width: 84px;
}

nav a,
nav a:visited,
nav a:hover,
nav a:active {
  color: #0d0d0d;
  text-decoration: none;
}

nav label svg {
  margin-top: 21px;
}

nav #sign-in svg {
  margin-top: 18px;
}

nav #home svg {
  margin-top: 10px;
}

nav #home span {
  font-size: 0;
}

nav img {
  display: none;
}

/* =======search start ===============================================
======================================================================*/
form button {
  background-color: #eb5428;
}

form fieldset {
  visibility: hidden;
  font-size: 0;
}

#search {
  position: absolute;
  top: 84px;
  display: flex;
  width: 414px;
  height: 71px;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 36px;
  z-index: 1;
}

#search input,
#search button {
  height: 45px;
  border: 2px solid #eb5428;
}

#search input {
  width: 265px;
  font-size: 12px;
}

/* =======footer start ===============================================
======================================================================*/
footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "social"
    "footer-image"
    "small-1"
    "small-2";
  align-items: center;
}

footer {
  height: auto;
  width: 414px;
  margin: 20px auto;
}

footer h2,
footer h3 {
  visibility: hidden;
  height: 0;
}

footer ul {
  margin-top: 25px;
  display: flex;
  grid-area: social;
  justify-content: center;
  width: 414px;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

#social a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social a span {
  order: 2;
}

#social a svg,
#social a img {
  order: 1;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
  color: #eb5428;
  text-decoration: none;
}

#social li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

footer img {
  width: 40%;
  grid-area: footer-image;
  margin: 15px auto;
}

.small-1 {
  grid-area: small-1;
  text-align: center;
}

.small-2 {
  grid-area: small-2;
  text-align: center;
}

/* ====================from menu.txt ==================*/
/* @media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
} */
