/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==============================end of reset============================= */

html {
  background-color: rgba(122, 191, 191, 0.5);
}

body {
  margin: 0 auto;
  width: 414px;
  background-color: #f2f2f2;
  color: #0d0d0d;
}

p,
dd,
li,
nav,
input {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1,
h2,
h3,
nav a,
nav span,
menu li,
#social li,
footer {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

dt {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

nav a,
nav span,
menu li,
#social li,
footer,
footer span {
  font-size: 20px;
}

.icon-tabler-star {
  margin: 0 4px;
}
/* ==============header start====================================================
========================================================================= */
header {
  margin-top: 124px;
}

header h1 {
  text-align: center;
}
header menu {
  display: flex;
  justify-content: space-around;
}

header a span {
  order: 2;
}

header a svg,
header a img {
  order: 1;
}

header a,
header a:visited,
header a:hover,
header a:active {
  color: #eb5428;
  text-decoration: none;
  /* text-transform: uppercase; */
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header menu li {
  display: flex;
  /* flex-direction: column-reverse; */
  align-items: center;
}

img {
  width: 100%;
}

header p {
  margin: 10px;
  line-height: 1.3;
}

menu li {
  display: flex;
  color: #eb5428;
}

/* =======details start ===============================================
======================================================================*/
#details dl {
  display: grid;
  grid-template-columns: 100px 1fr;
  /* border: 2px solid orange; */
}
#details h2 {
  text-align: center;
}

/* =======ingredients start ===============================================
======================================================================*/
#ingredients {
  height: auto;
  width: 414px;
  /* border: 2px solid yellow; */
  margin: 20px auto;
}

#ingredients h2 {
  text-align: center;
}

#ingredients ul {
  list-style-type: disc;
  padding-left: 25px;
  line-height: 1.2;
}

/* =======directions start ===============================================
======================================================================*/
#directions {
  height: auto;
  width: 414px;
  /* border: 2px solid yellow; */
  margin: 20px auto;
}

#directions h2 {
  text-align: center;
}

#directions ol {
  list-style-type: decimal;
  padding-left: 25px;
  line-height: 1.2;
}

#directions li {
  padding: 10px 0;
}
/* ===========directions end ===================================================
===========================================================================*/

/* nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "nav-menu logo sign-in"
    "search search search";
  position: absolute;
  top: 0;
  width: 414px;
  border: 1px solid red;
} */

/* #nav-menu {
  grid-area: nav-menu;
  border: 1px solid red;
} */

/* #home {
  grid-area: logo;
  z-index: 2;
  display: block;
  visibility: visible;

  border: 1px solid blue;
  position: fixed;
  top: 0;
  left: 50%;
} */
/* 
.sign-in {
  grid-area: sign-in;
  border: 1px solid blue;
  position: fixed;
  top: 0;
  right: 0;
} */

/* #menu {
  grid-area: menu;
} */

/* #search {
  grid-area: search;
  border: 2px solid green;
  height: 40px;
} */

/* ============side dishes start ===============================
==========================================================*/
#side-dishes {
  background-color: #7abfbf;
}

#side-dishes img {
  width: 90%;
}

#side-dishes h2 {
  text-align: center;
}

.sides-container {
  /* border: 1px solid red; */
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "side-image side-heading"
    "side-image side-p1"
    "side-image side-p2"
    "side-image star-container";
}

.sides-container h3,
.sides-container p,
.sides-container img {
  margin: 0 0 0 5px;
  /* border: 1px solid yellow; */
}

.sides-container h3 {
  grid-area: side-heading;
  text-transform: uppercase;
}

.sides-container img {
  grid-area: side-image;
}

.sides-container p:nth-of-type(1) {
  grid-area: side-p1;
}

.sides-container p:nth-of-type(2) {
  grid-area: side-p2;
}

/* ==========hamburger menu start ============================
==========================================================*/
nav {
  /* display: grid; */
  position: absolute;
  top: 0;
  width: 414px;
}

nav > h2,
nav > h3 {
  visibility: hidden;
  height: 0;
}

nav ul {
  /* position: absolute; */
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  /* border: 2px solid orange; */
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d0d0d;
}

nav a span {
  order: 2;
}

nav a svg,
nav a img {
  order: 1;
}

/* #home a span {
  visibility: hidden;
} */

nav label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;
  /* border: 2px solid purple; */
  background-color: white;
  height: 84px;
  width: 84px;
}

nav label span {
  background-color: #ffffff;
  display: block;
  /* height: 2px; */
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 18px;
  /* border: 2px solid green; */
}

/* label span:before,
label span:after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
} */

/* label span:before {
  top: 5px;
} */

/* label span:after {
  top: -5px;
} */

input {
  display: none;
}

input:checked ~ ul {
  max-height: 500px;
  background-color: white;
}

/* input:checked ~ label span {
  background: transparent;
} */

/* input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
  top: 0;
} */

nav ul li:nth-child(1) a,
nav ul li:nth-child(1) a:visited,
nav ul li:nth-child(1) a:hover,
nav ul li:nth-child(1) a:active {
  position: absolute;
  left: 84px;
  top: 0;
  /* font-variant: small-caps; */
  /* font-size: 1.5em; */
  /* font-weight: bold; */
  width: 247px;
  height: 84px;
  background-color: #eb5428;
  text-align: center;
}

nav ul li:nth-child(1) span {
  visibility: hidden;
}

nav ul li:nth-of-type(n + 2) a,
nav ul li:nth-of-type(n + 2) a:visited,
nav ul li:nth-of-type(n + 2) a:hover,
nav ul li:nth-of-type(n + 2) a:active {
  text-transform: uppercase;
}

nav ul li:last-of-type a,
nav ul li:last-of-type a:visited,
nav ul li:last-of-type a:hover,
nav ul li:last-of-type a:active {
  text-transform: uppercase;
  position: absolute;
  left: 331px;
  top: 0;
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  height: 84px;
  width: 84px;
}

nav a,
nav a:visited,
nav a:hover,
nav a:active {
  color: #0d0d0d;
  text-decoration: none;
  /* text-transform: uppercase; */
}

nav img {
  display: none;
}

/* =======footer start ===============================================
======================================================================*/
footer {
  /* border: 2px solid purple; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "social"
    "footer-image"
    "small-1"
    "small-2";
  align-items: center;
}

footer {
  height: auto;
  width: 414px;
  /* border: 2px solid yellow; */
  margin: 20px auto;
}

footer h2,
footer h3 {
  visibility: hidden;
  height: 0;
}

footer ul {
  /* border: 2px solid green; */
  margin-top: 25px;
  display: flex;
  grid-area: social;
  justify-content: center;
  width: 414px;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

#social a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social a span {
  order: 2;
}

#social a svg,
#social a img {
  order: 1;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
  color: #eb5428;
  text-decoration: none;
  /* text-transform: uppercase; */
}

#social li {
  display: flex;
  /* flex-direction: column-reverse; */
  align-items: center;
  /* color: #eb5428; */
  text-transform: uppercase;
}

footer img {
  width: 40%;
  grid-area: footer-image;
  margin: 15px auto;
}

.small-1 {
  grid-area: small-1;
  text-align: center;
}

.small-2 {
  grid-area: small-2;
  text-align: center;
}

/* ====================from menu.txt ==================*/
/* @media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
} */
